header::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  width: 100%;
  margin-top: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

header {
  padding: 20px;
}

.btn {
    font-size: 16px;
}